#left-pane {
    overflow:hidden;  
}

#sections {
    height:500px;
    width:250px;
    border:2px solid black;
    float:left;
    margin-right:30px;
    padding:10px;
}

#moves {
    height:500px;
    width:250px;
    border:2px solid black;
    float:left;
    padding:10px;
}